.lookbook{
    padding-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .grid-lookbook{
        max-width: 80%;
        display: grid;
        grid-template-columns: 330px 330px 330px;
        grid-auto-rows: auto;
        grid-gap: 1rem;
        div{

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;

            }

        }
        .grid-lookbook-item-uno{
            grid-column: 1/4;

        }

        .grid-lookbook-item-ocho{
            grid-column: 1/3;

        }
        .grid-lookbook-item-diez{
            grid-column: 2/4;

        }
    }
}